# Paketler
node_modules/
yarn.lock
package-lock.json

# Sistem ve Araçlar
database/
assets/
commands/
events/
utility/
cron/
config.json
pulse.js

# Diğer
.tmp/
.vscode/
list.todo
.DS_Store

!docs/assets